@charset "UTF-8";
*{box-sizing: border-box;}
html{font-family: 'Noto Sans KR';}
body{-ms-overflow-style: none;scrollbar-width: none;}
body::-webkit-scrollbar {display: none;}
#sec.on{padding-top:173px;}

body.on{overflow: hidden;}
#header {z-index: 997;background: #fff;width:100%;transition: all .4s ease-in-out;}
#header.on {position: fixed;box-shadow: 0 1px 4px rgba(0,0,0,.3);top:0;left:0;}
#header .header_in{width:1300px;padding:0 30px;position: relative;height: 50px;margin:0 auto;}
#header h1{margin-left:-20px;display:inline-block;}
#header h1 a{color:#000;padding:0 20px;display: block;height:50px;line-height:50px;font-family: "Fredoka";font-weight: 500;letter-spacing: 1px;}

#header .menu{position: absolute;right:30px;top:50%;transform: translateY(-50%);cursor: pointer;width:30px;height:30px;}
#header .menu span{width: 18px;height: 2px;display: block;background: #000;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
#header .menu span:nth-child(1){margin-top: 4px;}
#header .menu span:nth-child(3){margin-top: -4px;}
/* 헤더 끝 */

/* 푸터 시작 */
#footer{margin-top:60px;border-top:1px solid #ccc;}
#footer .footer_in{width:1300px;padding:40px 30px 20px;margin:0 auto;font-size: 14px;}
#footer .footer_in ul{width:700px;}
#footer .footer_in ul::after{content: "";display: block;clear: both;}
#footer .footer_in ul li{float:left;margin-right:16px;position: relative;line-height:20px;color:#555;}
#footer .footer_in ul li:nth-child(4)::before,
#footer .footer_in ul li:nth-child(6)::before,
#footer .footer_in ul li:nth-child(7)::before {display: none;}
#footer .footer_in ul li:nth-child(7){margin-bottom:15px;}
#footer .footer_in ul li:last-child::before{display: none;}
#footer .footer_in ul li::before{content: "";width:1px;height:12px;background: rgba(0,0,0,.8);position: absolute;right:-8px;top:50%;transform: translateY(-40%);}
#footer .footer_in ul li a{display: block;color:#000;font-weight: 500;}
#footer .footer_in ul li a:hover{color:#888;}
/* 푸터 끝 */

/* 커버 시작 */
#cover{width:100%;height:100%;position: fixed;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.5);z-index: 998;display: none;}
#cover.on{display: block;}
/* 커버 끝 */

/* 메뉴 시작 */
#s_menu{position: fixed;top:0p;bottom:0;width:450px;background: #fff;height:100%;z-index: 999;right:-450px;transition: all .4s ease-in-out;box-shadow: 0 0 4px rgba(0,0,0,0);}
#s_menu.on{right:0;box-shadow: -2px 0 8px rgba(0,0,0,.5);}
#s_menu .menu_in{height:100%;width:100%;padding:10px 20px;}

#s_menu .menu_in .menu_top{height:50px;width:100%;position: relative;cursor: pointer;}
#s_menu .menu_in .menu_top .close{width:20px;height:20px;position: absolute;left:0;top:50%;transform: translateY(-50%);z-index: 1100;}
#s_menu .menu_in .menu_top .close span{width:2px;height:100%;background: #000;display: block;position: absolute;left:50%;top:50%;}
#s_menu .menu_in .menu_top .close span:first-child{transform: translate(-50%,-50%) rotate(45deg);}
#s_menu .menu_in .menu_top .close span:last-child{transform: translate(-50%,-50%) rotate(-45deg);}

#s_menu .menu_in .menu_login{width:100%;}
#s_menu .menu_in .menu_login .login_in{position:relative;width:100%;height:100%;}
#s_menu .menu_in .menu_login .login_in .top{}
#s_menu .menu_in .menu_login .login_in .top a{display: block;width:100%;height:100%;padding:15px 0;}
#s_menu .menu_in .menu_login .login_in .top a h3{font-size:20px;color:#333;font-weight: 500;letter-spacing: -1px;display:inline-block;}

/* 로그인 되었을때 회원 로그인 */
#s_menu .menu_in .menu_login .login_in .top2{display:inline-block;}
#s_menu .menu_in .menu_login .login_in .top2 a{display: block;width:100%;height:100%;padding:10px 0;}
#s_menu .menu_in .menu_login .login_in .top2 a h3{font-size:20px;color:#333;font-weight: 500;letter-spacing: -1px;display:inline-block;}
#s_menu .menu_in .menu_login .login_in .top2 a h3#sat{color:#5de4c2;}
#s_menu .menu_in .menu_login .login_in .top2 a img{border: 1px solid red; width: 94px; height: 94px; border-radius: 50%; overflow: hidden; position: absolute; right: 30px; top: 50%; transform: translateY(-50%);}

#s_menu .menu_in .menu_login .login_in .top2 p{padding:5px 0; font-size:14px; cursor:pointer;display:inline-block;}
#s_menu .menu_in .menu_login .login_in .top2 p:hover{color:#5de4c2;}

#s_menu .menu_in .menu_login .login_in .bottom ul:after{content: "";display: block;clear: both;}
#s_menu .menu_in .menu_login .login_in .bottom ul li{float:left;width:70px;height:50px;margin-right:20px;}
#s_menu .menu_in .menu_login .login_in .bottom ul li a{display: block;width:100%;height:100%;}
#s_menu .menu_in .menu_login .login_in .bottom ul li a .num{height:30px;position: relative;}
#s_menu .menu_in .menu_login .login_in .bottom ul li a .num img{position: absolute;left: 0px;top: 50%;transform: translateY(-50%);width:36px;height:36px;}
#s_menu .menu_in .menu_login .login_in .bottom ul li a .num p{height:3px;width:10px;background: #3d75dc;position: absolute;left:0;top:50%;transform: translate(0,-50%);}
#s_menu .menu_in .menu_login .login_in .bottom ul li a .num span{line-height:30px;color:#3d75dc;font-weight:600;}

#s_menu .menu_in .menu_login .login_in .bottom ul li a .txt{height:20px;}
#s_menu .menu_in .menu_login .login_in .bottom ul li a .txt h4{font-size:12px;color:#444;display:inline-block;}
#s_menu .menu_in .menu_login .login_in .bottom ul li a .txt h4.wb_r{margin-right:5px;}

#s_menu .menu_in .list_menu{margin-top:26px;}
#s_menu .menu_in .list_menu .l_menu_in ul li{border-top:1px solid #ccc;}
#s_menu .menu_in .list_menu .l_menu_in ul li a{display: block;width:100%;height:100%;position: relative;padding:20px 0;}
#s_menu .menu_in .list_menu .l_menu_in ul li a h3{color:#666;font-weight: 500;}

#s_menu .menu_in .list_menu .l_menu_in ul li a .l_wrap{position: absolute;right:0;top:50%;transform: translateY(-50%);}
#s_menu .menu_in .list_menu .l_menu_in ul li a .l_wrap:after{content: "";display: block;clear: both;}
#s_menu .menu_in .list_menu .l_menu_in ul li a .l_wrap .num{float:left;line-height:30px;color:#3d75dc;font-weight: 600;margin-right:8px;}
#s_menu .menu_in .list_menu .l_menu_in ul li a .l_wrap .num span{color:#444;}
#s_menu .menu_in .list_menu .l_menu_in ul li:last-child a .l_wrap .num{color:#aaa;}
#s_menu .menu_in .list_menu .l_menu_in ul li:last-child a .l_wrap .num span{color:#aaa;}

#s_menu .menu_in .list_menu .l_menu_in ul li a .l_wrap .arrow_btn{float:left;width:30px;height:30px;position: relative;}
#s_menu .menu_in .list_menu .l_menu_in ul li a .l_wrap .arrow_btn i{position: relative;top:50%;left:50%;transform: translate(-50%,-50%);color:#444;}

#s_menu .menu_in .padding{width:calc(100% + 40px);height:15px;background: rgba(0,0,0,.04);margin-left:-20px;}

#s_menu .menu_in .tip{width: calc(100% + 40px);margin-left:-20px;}
#s_menu .menu_in .tip .tip_in{margin-top:20px;}
#s_menu .menu_in .tip .tip_in ul{display: flex;padding:20px 0;}
#s_menu .menu_in .tip .tip_in ul li{width:25%;}
#s_menu .menu_in .tip .tip_in ul li a{display: block;width:100%;height:100%;text-align: center;color:#555;}
#s_menu .menu_in .tip .tip_in ul li a .img{}
#s_menu .menu_in .tip .tip_in ul li a .img i{font-size:24px;}

#s_menu .menu_in .tip .tip_in ul li a .txt{margin-top:16px;}
#s_menu .menu_in .tip .tip_in ul li a .txt h3{width:50%;margin:0 auto;font-size:13px;line-height:15px;}

#s_menu .menu_in .menu_pop{height:80px;position: absolute;bottom:20px;left:0;width:100%;overflow: hidden;display: none;}
#s_menu .menu_in .menu_pop .pop_in{width:100%;height:100%;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider{width:100%;height:100%;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide{width:100%;height:100%;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide a{display: block;width:100%;height:100%;}

#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img1{background: red;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img2{background: orange;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img3{background: yellow;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img4{background: green;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img5{background: blue;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img6{background: navy;}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .swiper-slide.img7{background: violet;}

#s_menu .menu_in .menu_pop .pop_in .pop_slider .pop_pagi{}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .pop_pagi span{}
#s_menu .menu_in .menu_pop .pop_in .pop_slider .pop_pagi span.swiper-pagination-bullet-active{background: #5de4c2;}
/* 메뉴 끝 */


@media screen and (min-height: 740px) {
	#s_menu .menu_in .menu_pop{display: block;}
}

/* 로그인/회원가입 */
#join{width:700px;height:650px;position: fixed;left:50%;bottom:-600px;transform: translate(-50%,0%);z-index: 1001;overflow: hidden;border-radius: 10px;box-shadow: 0 0 8px rgba(0,0,0,.4);opacity: 0;transition: all .6s ease-in-out;background:#f5f5f5;}
#join.on{opacity: 1;bottom:50%;transform: translate(-50%,50%);}
#join .join_in{width:100%;height:100%;}
#join .join_in .img{display: block;width:100%;}
#join .join_in .img img{display: block;width:100%;}

#join_cover1{width:calc(100% - 450px);height:100%;position: fixed;left:0;top:0;bottom:0;z-index: 1000;display: none;}
#join_cover2{width:450px;height:calc(100% - 60px);position: fixed;z-index: 1000;right:0;bottom:0;display: none;}
/* 로그인/회원가입 끝 */

/* 여행지검색 */
#header .header_ch{background: #5de4c2;}
#header .header_ch .ch_in{height:123px;width:1300px;margin:0 auto;padding:0 30px;}
#header .header_ch .ch_in form{height:100%;width:100%;}
#header .header_ch .ch_in form:after{content: "";display: block;clear: both;}

#header .header_ch .ch_in form > div{float:right;}

#header .header_ch .ch_in form .ch_title{text-align: center;display: block;float:left;line-height:123px;position: relative;}
#header .header_ch .ch_in form .ch_title h2{display: block;height:100%;font-family: 'Noto Sans KR';font-size:16px;font-weight: 500;color:#fff;text-shadow: 1px 1px 5px rgba(0,0,0,.5);}
#header .header_ch .ch_in form .ch_title .tit_cover{width:100%;height:100%;position: absolute;left:0;top:0;}

#header .header_ch .ch_in form .ch_tot{width:280px;height:46px;margin-right:30px;cursor: pointer;margin-top:41px;}
#header .header_ch .ch_in form .ch_tot select{height:100%;width:100%;border:none;font-size:14px;padding:0 10px;color:#fff;text-shadow: 1px 1px 5px rgba(0,0,0,.5);border-radius: 5px;border:1px solid #fff;outline: none;background: #5de4c2 url(../img/bottom.png)no-repeat 95% center;}
#header .header_ch .ch_in form .ch_tot select option{background:(0,0,0,.4);color:#fff;}


#header .header_ch .ch_in form .ch_btn{border:1px solid #fff;width:46px;height:46px;overflow: hidden;border-radius: 5px;position: relative;cursor: pointer;margin-top:41px;}
#header .header_ch .ch_in form .ch_btn .btn{width:100%;height:100%;position: relative;}
#header .header_ch .ch_in form .ch_btn .btn i{color:#fff;font-size:20px;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);text-shadow: 1px 1px 5px rgba(0,0,0,.3);}

/* 달력 */
/*#sec .main .main_ch .ch_in form .ch_date{width:240px;margin:0 10px;border:1px solid #fff;border-radius: 5px;overflow: hidden;}
#sec .main .main_ch .ch_in form .ch_date label{margin:0;border:none;}
#sec .main .main_ch .ch_in form .ch_date label:after{border:none;}
#sec .main .main_ch .ch_in form .ch_date label:before{border:none;}
.mbsc-ios.mbsc-form-control-wrapper{margin-top:0;}
#sec .main .main_ch .ch_in form .ch_date label span{display: block;}
#sec .main .main_ch .ch_in form .ch_date label span input{border:none;height:44px;font-family: 'Noto Sans KR';font-size:14px;color:#fff;background: #5de4c2;text-shadow: 1px 1px 5px rgba(0,0,0,.5);padding:0 10px;}
#sec .main .main_ch .ch_in form .ch_date label span input::placeholder { opacity: 1; } */
/* 달력 끝 */
/* 여행지검색 끝 */

/* 로그인 폼 */
#join .join_in .login_layout{font-family: 'Noto Sans KR';width: 100%;height: 100%;padding: 30px;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;background: url(../img/join/1.jpg)no-repeat 50% 20%;}
#join .join_in .login_layout .login_form{border-radius:10px; height: 100%;margin: 0 auto;width: 100%;display: flex;justify-content: center;align-items: flex-end;flex-wrap: wrap;}
#join .join_in .login_layout .login_form h3{width:100%;text-align: center;font-size:18px;}
#join .join_in .login_layout .login_form .login_frame1{width:100%; margin:0 auto;padding:0 20px;}
#join .join_in .login_layout .login_form .login_frame1 form:after{content: "";display: block;clear: both;}
#join .join_in .login_layout .login_form .login_frame1 .login_in{float:left;}
#join .join_in .login_layout .login_form .login_frame1 .login_in form{margin-top:25px;}
#join .join_in .login_layout .login_form .login_frame1 .id_pw_input{margin: 0 auto;width: 400px;line-height: 50px;height:50px;}
#join .join_in .login_layout .login_form .login_frame1 .id_pw_input span{display: inline-block;width: 70px;text-align: right;font-size: 14px;}
#join .join_in .login_layout .login_form .login_frame1 .id_pw_input input {width:300px;height:33px;margin-left:10px;outline: none;padding:5px;border-radius: 5px;border:1px solid rgba(0,0,0,.5);background: #f5f5f5;}
#join .join_in .login_layout .login_form .login_frame1 .login_btn{width: 100px;height: 100px;float: left;display: flex;justify-content: center;align-items: center;}
#join .join_in .login_layout .login_form .login_frame1 .login_btn input{width:80px;height:80px;margin-top:5px;border:1px solid rgba(0,0,0,.5);background: none;border-radius: 10px;cursor: pointer;background: #f5f5f5;}
#join .join_in .login_layout .login_form .login_frame1 .login_btn input:hover{background: #5de4c2;border:1px solid transparent;color:#fff;}
#join .join_in .login_layout .login_form .login_frame2{height: 40px;width:100%; margin:0 auto;margin-bottom:10px;}
#join .join_in .login_layout .login_form .login_frame2 .login_frame2_in{display: flex;height: 100%;justify-content: center;align-items: center;}
#join .join_in .login_layout .login_form .login_frame2 .login_frame2_in span{font-size:12px;line-height: 14px;}
#join .join_in .login_layout .login_form .login_frame2 .login_frame2_in .join_info{margin-left:10px;}
#join .join_in .login_layout .login_form .login_frame2 .login_frame2_in p{float:left;}
#join .join_in .login_layout .login_form .login_frame2 .login_frame2_in p a{padding:10px;display: block;color:#999;font-size: 12px;line-height: 15px;}
#join .join_in .login_layout .login_form .login_frame2 .login_frame2_in p a:hover{color:#333;}
/* 로그인 폼 끝 */

/* 회원가입 폼 */
#join_mbs{width:700px;height:750px;position: fixed;left:50%;bottom:-750px;transform: translate(-50%,0%);z-index: 1001;overflow: hidden;border-radius: 10px;box-shadow: 0 0 8px rgba(0,0,0,.4);opacity: 0;transition: all .6s ease-in-out;background:#f5f5f5;}
#join_mbs.on{opacity: 1;bottom:50%;transform: translate(-50%,50%);}
#join_mbs .join_mbs_in {width: 100%;height: 100%;padding: 30px;}
#join_mbs .join_mbs_in h3 {text-align: center;margin-bottom: 30px;}
#join_mbs .join_mbs_in .mbs_form {margin: 0 auto;width: 350px;}
#join_mbs .join_mbs_in .mbs_form .mbs_con {width: 100%;height: 65px;}
#join_mbs .join_mbs_in .mbs_form .mbs_con.mbs_id_pw {height: 85px;}
#join_mbs .join_mbs_in .mbs_form .mbs_con span {font-size: 14px;width: 100px;height: 20px;display: block;padding-bottom: 22px;}
#join_mbs .join_mbs_in .mbs_form .mbs_con input {width: 100%;height:33px;border:1px solid rgba(0,0,0,.5);border-radius: 10px;padding-left: 5px;}
#join_mbs .join_mbs_in .mbs_form .email {width: 100%;height: 75px;}
#join_mbs .join_mbs_in .mbs_form .email span {display: block;font-size: 14px;width: 100px;height: 20px;display: block;padding-bottom: 22px;}
#join_mbs .join_mbs_in .mbs_form .email input {width: 200px;float: left;height: 33px;border-radius: 10px;border:1px solid rgba(0,0,0,.5);padding-left: 5px;}
#join_mbs .join_mbs_in .mbs_form .email select {border:none;background:none;width: 140px;height: 33px;font-size: 14px;letter-spacing: 1px;outline: none;cursor: pointer;margin-left: 10px;padding:5px;line-height:20px;} 
#join_mbs .join_mbs_in .mbs_form .mbs_profile {width: 100%;height: 120px;}
#join_mbs .join_mbs_in .mbs_form .mbs_profile::after {display: block;clear: both;}
#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame1{width: 250px;height: 80px;float: left;}
#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame1 .frame1_1 span{font-size: 14px;display: block;padding-bottom: 44px;height: 20px;}

#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame1 .frame1_1 input#file-upload-button{border:1px solid red}
#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame1 .frame1_2 p{font-size: 10px;margin: 5px 0 0 5px;width: 70px;display: inline-block;}
#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame1 .frame1_2 input{width: 10px;height: 10px;}


#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame2{width: 100px;height: 100px;float: left;}
#join_mbs .join_mbs_in .mbs_form .mbs_profile .profile_frame2 .preview{width: 100px;height: 100px;border-radius: 50%;border:1px solid #999;}
#join_mbs .join_mbs_in .mbs_form .mbs_btn {width: 100%;height: 40px;}
#join_mbs .join_mbs_in .mbs_form .mbs_btn .mbs_btn_frame {width: 170px;height: 100%;border-radius: 10px;    cursor: pointer;font-size: 14px;line-height: 40px;text-align: center;background: none;border: 1px solid rgba(0,0,0,.5);}
#join_mbs .join_mbs_in .mbs_form .mbs_btn .mbs_btn_frame:hover {color:white;background:#5de4c2;border:none;}
#join_mbs .join_mbs_in .mbs_form .mbs_btn_rt {float: left;}
#join_mbs .join_mbs_in .mbs_form .mbs_btn_join {float: right;}

#pwMsg{font-size:12px;color:#333;padding:5px;line-height:14px;display:none;}
#pwMsg.at{display:block;}
.pwMsg_ok{display:none;}
.pwMsg_no{display:none;}
.pwMsg_ok.on{color:green;display:block;font-size:12px;padding:5px;line-height:14px}
.pwMsg_no.on{color:red;display:block;font-size:12px;padding:5px;line-height:14px}
/* 회원가입 폼 끝 */