@charset "UTF-8";

#sec .noticeShow_in {display: flex;margin: 0 110px;width: 1500px;}
#sec .noticeShow_in .noticeShow_main {width: 1300px;margin: 0 auto;padding:20px 30px;}
#sec .noticeShow_in .noticeShow_main h3 {font-size:20px;margin-bottom:5px;}

#sec .noticeShow_in .noticeShow_main .noticeShow_title {font-size:20px;margin-bottom:5px;}
#sec .noticeShow_in .noticeShow_main .noticeShow_title p:nth-child(1){font-size:20px;margin-bottom: 5px;}
#sec .noticeShow_in .noticeShow_main .noticeShow_title p:nth-child(2){font-size:12px;color:rgba(0,0,0,.6);margin-bottom: 5px;}
#sec .noticeShow_in .noticeShow_main .noticeShow_title p:nth-child(3){font-size:12px;color:rgba(0,0,0,.6);margin-bottom: 20px;}

#sec .noticeShow_in .noticeShow_main .noticeShow_content {width: 100%;height: auto;border:1px solid #999;border-radius: 10px;padding: 5px;box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);margin-bottom:10px;}

#sec .noticeShow_in .noticeShow_main .noticeShow_img{}
#sec .noticeShow_in .noticeShow_main .noticeShow_img img{width: auto;height: 200px;border:none;display: block;margin-bottom: 5px;border-radius: 10px;    border: 1px solid #999;box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);}


#sec .noticeShow_in .noticeShow_main .nsadmin {border-top:1px dotted #999;;width: 100%;height: auto;}
#sec .noticeShow_in .noticeShow_main .nsadmin h3{font-size:20px;margin-bottom:10px;margin-top:20px;}
#sec .noticeShow_in .noticeShow_main .nsadmin h5{font-size:12px;margin-bottom:10px;margin-top:5px;color:rgba(0,0,0,.6);}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_title{display: flex;margin:10px 0 10px 0;}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_title p{font-size:20px;margin-bottom: 5px;margin-right: 10px;width: 50px;height: 20px;display: flex;justify-content: center;align-items: center;}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_title input{border: none;outline: none;width: 1000px;height: 20px;font-size: 20px;}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_content{width: 100%;height: 200px;border:1px solid #999;border-radius: 10px;padding: 5px;box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);margin-bottom:10px;outline: none;}
#sec .noticeShow_in .noticeShow_main .nsadmin .preview{}
#sec .noticeShow_in .noticeShow_main .nsadmin .preview img{width: auto;height: 200px;border:none;display: block;margin-bottom: 5px;border-radius: 10px;    border: 1px solid #999;box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);}

#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_btn{width: 100%;height: 30px;display: flex;justify-content: flex-end;}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_btn .nsadmin_btn_com{width: 100px;height: 30px;border-radius: 10px;display: flex;justify-content: center;align-items: center;color: rgba(0,0,0,.9);border: 1px solid #999;cursor:pointer;}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_btn .nsadmin_btn_com:hover{background: #5de4c2;border:none;color:rgb(255, 255, 255);}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_btn .nsadmin_modbtn{ margin-right: 5px;}
#sec .noticeShow_in .noticeShow_main .nsadmin .nsadmin_btn .nsadmin_delbtn{}


