@charset "UTF-8";

#sec .qnaShow_in {display: flex;margin: 0 110px;width: 1500px;}
#sec .qnaShow_in .qnaShow_main {width: 1300px;margin: 0 auto;padding:20px 30px;}
#sec .qnaShow_in .qnaShow_main h3 {font-size:20px;margin-bottom:5px;}

#sec .qnaShow_in .qnaShow_main .qnaShow_title {font-size:20px;margin-bottom:5px;}
#sec .qnaShow_in .qnaShow_main .qnaShow_title p:nth-child(1){font-size:20px;margin-bottom: 5px;}
#sec .qnaShow_in .qnaShow_main .qnaShow_title p:nth-child(2){font-size:12px;color:rgba(0,0,0,.6);margin-bottom: 5px;}
#sec .qnaShow_in .qnaShow_main .qnaShow_title p:nth-child(3){font-size:12px;color:rgba(0,0,0,.6);margin-bottom: 20px;}

#sec .qnaShow_in .qnaShow_main .qnaShow_content{width: 100%;height: auto;border:1px solid #999;border-radius: 10px;padding: 5px;box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);margin-bottom:10px;}

#sec .qnaShow_in .qnaShow_main h4 {border-top: 1px solid #999;border-bottom: 1px solid #999;height: 40px;line-height: 40px;font-size:16px;}

#sec .qnaShow_in .qnaShow_main .qnaShow_img{}
#sec .qnaShow_in .qnaShow_main .qnaShow_img img{width: auto;height: 200px;border-radius: 10px;margin-bottom: 50px;display: block;border:1px solid #999;box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 20%);}


/* 문의 답변 */
#sec .qnaShow_in .qnaShow_main .qscomment{width: 100%;height: 20px;line-height: 10px;padding-left: 10px;margin-top: 10px;display: flex;border-bottom: 1px dotted #999;}
#sec .qnaShow_in .qnaShow_main .qscomment p:nth-child(1){width:50px;height:20px;font-size:14px;}
#sec .qnaShow_in .qnaShow_main .qscomment p:nth-child(2){font-size:14px;}
/* 문의 답변 끝 */

/* 문의 답변 - 관리자*/
#sec .qnaShow_in .qnaShow_main .qsadmin {margin-top:30px;}
#sec .qnaShow_in .qnaShow_main .qsadmin h5{font-size:14px;color: rgba(0,0,0,.8);
margin-bottom:10px;}
#sec .qnaShow_in .qnaShow_main .qsadmin .qsadmin_comment{width: 100%;height: auto;display: block;}
#sec .qnaShow_in .qnaShow_main .qsadmin .qsadmin_comment input{width: 100%;height: 40px;border-radius: 10px;border:1px solid #999;padding-left: 10px;}
#sec .qnaShow_in .qnaShow_main .qsadmin .qsadmin_comment .qscommentbtn{width: 100%;display: inline-flex;justify-content:flex-end;}
#sec .qnaShow_in .qnaShow_main .qsadmin .qsadmin_comment .qscommentbtn p{width: 100px;height: 30px;border: 1px solid #999;margin-top: 5px;border-radius: 10px;display: flex;justify-content: center;align-items: center;cursor:pointer;}
#sec .qnaShow_in .qnaShow_main .qsadmin .qsadmin_comment .qscommentbtn p:hover{border:none;background:#5de4c2;color: #fff;}
/* 문의 답변  - 관리자 끝 */