<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple.finalp.mem.dao.MemDao">

	<insert id="join">
		insert into MEMBER (mem_id,mem_pw,e_mail,name,tel,mem_img)
		values (#{mem_id},#{mem_pw},#{e_mail},#{name},#{tel},#{mem_img})
	</insert>

	<select id="c_heart" resultType="Integer">
		select count(*)
		from HEART
		where mem_id = #{mem_id}
	</select>
	<select id="c_plan" resultType="Integer">
		select count(*)
		from MYPLAN
		where mem_id = #{mem_id}
	</select>
	

</mapper>