<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple.finalp.mem.dao.MemDao">

	<insert id="join">
		insert into member (mem_id,mem_pw,e_mail,name,tel,mem_img)
		values (#{mem_id},#{mem_pw},#{e_mail},#{name},#{tel},#{mem_img})
	</insert>

	<select id="c_heart" resultType="String">
		select count(*)
		from heart
		where mem_id = #{mem_id}
	</select>
	<select id="c_plan" resultType="String">
		select count(*)
		from myplan
		where mem_id = #{mem_id}
	</select>
	<update id="updateProfile">
		update member 
		set  e_mail = #{e_mail}, tel = #{tel}, mem_img = #{mem_img}
		where mem_id = #{mem_id}
	</update>
	
	<update id="updatePw">
		update member 
		set  mem_pw = #{mem_pw}
		where mem_id = #{mem_id}
	</update>
	
	<select id="mv" resultType="MemVo">
		select e_mail,tel,mem_img,mem_id 
		from member
		where mem_id = #{mem_id}
	</select>
	
	<select id="pi" resultType="String">
		select mem_img
		from member
		where mem_id = #{mem_id}
	</select>
	
	<insert id="inplan">
		insert into myplan(startdate,enddate,mem_id,plan_name)
		values (#{startdate},#{enddate},#{mem_id},#{plan_name})
	</insert>
	
	<select id="fplan" resultType="MyPlanVo">
		select *
		from myplan
		where mem_id = #{mem_id}
		order by startdate
	</select>
	
	<select id="fplanc" resultType="String">
		select product_id
		from plan_content
		where plan_id = #{plan_id}
	</select>
	
	<select id="pbyp" resultType="ProVo">
		select *
		from product
		where product_id = #{product_id}
	</select>
	
	<insert id="travin">
		insert into plan_content
		values(#{product_id},#{plan_id})
	</insert>
	
	<select id="hc" resultType="int">
		select count(*)
		from heart
		where mem_id = #{mem_id}
		and heart_id = #{product_id}
	</select>
	
	<insert id="hearton">
		insert into heart
		values (#{mem_id},#{heart_id})
	</insert>
	
	<delete id="heartoff">
		delete from heart
		where mem_id = #{mem_id}
		and heart_id = #{heart_id}
	</delete>
	
	<select id="heartcount" resultType="int">
		select count(*)
		from heart
		where heart_id = #{product_id}
	</select>

</mapper>