<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple.finalp.search.dao.SearchDao">

	<select id="citylist" resultType="String">
		select product_city
		from product
		group by product_city
	</select>
	
	<select id="psearch" resultType="ProVo">
		select *
		from product
	</select>
	
	<select id="msearch" resultType="MagVo">
		select *
		from magazine
	</select>
	
	<select id="pcatesearch" resultType="ProVo">
		select *
		from product
		where product_city = #{city}	
	</select>
	
	<select id="catelist" resultType="String">
		select product_category
		from product
		group by product_category
	</select>
	
	<select id="pccsearch" resultType="ProVo">
		select *
		from product
		where product_city = #{city}
		and product_category = #{cate}
	</select>
	
	<select id="pcsearch" resultType="ProVo">
		select *
		from product
		where product_category = #{cate}
	</select>
	
	<select id="mcsearch" resultType="MagVo">
		select *
		from magazine
		where mgz_category = #{cate}
	</select>
	
	<select id="mcatesearch" resultType="MagVo">
		select *
		from magazine
		where mgz_city = #{city}
	</select>
	
	<select id="mccsearch" resultType="MagVo">
		select *
		from magazine
		where mgz_city = #{city}
		and mgz_category = #{cate}
	</select>

</mapper>